body, html {
    height: 100%;
}

.content {
    min-height: calc(100vh - 60px); 
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* .top-navs > .nav-item {
    cursor: pointer;
} */

.custom-nav {
    background-color: #435be4; 
    color: white;
}
.custom-nav .navbar-nav .nav-link {
    color: white;
}
.custom-nav .navbar-nav .nav-link.active {
    font-weight: bold; 
}
.custom-nav .navbar-brand{
    font-size: 1.5rem; 
    font-weight: bold; 
    color: white; 
    margin-right: 20px;
}